<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Marseille XIII - Fan Page</title>
<link rel="stylesheet" href="/Assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
    <img src="/Assets/images/logo1.png" alt="Logo Marseille XIII">
    <h1>Marseille XIII - Avenir 🏉 </h1>
    </div>


    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
    <i class="fa-solid fa-bars"></i>
    </label>

    <nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="club.html" class="active">Le Club</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    </nav>
</header>
<body> 

<section class="story"> 
<h1> L'histoire du club </h1>
<p> 
Marseille XIII Avenir est un club de rugby à XIII français basé à Marseille dans les Bouches-du-Rhône.
Fondé en 1946 avec le soutien de l'industriel Paul Ricard, il porte les couleurs bleu et blanc. Le club est fondé en 1946, sur l'initiative du célèbre anisetier Paul Ricard, sous l'appellation Rugby Club Marseille XIII. 
Le club ne gagne le championnat qu'une fois, en 1949 mais effectue un doublé la même année puisqu'il remporte la Coupe de France. <br>
<br>Il joue néanmoins quatre finales, en 1950, 1952, 1954 et 1973. En revanche, les Marseillais ont plus de succès en Coupe, avec 7 finales dont 5 gagnées.
En 1977, son président, Maurice Villemin, décède mettant en péril le club qui en 1978 après une ultime saison en première division est mis en sommeil.
En raison de problèmes financiers, le club est mis en sommeil dans les années 1990, puis redémarre sous l'appellation Marseille Rugby League qui dépose le bilan en 2006 et est refondé sous le nom de Marseille XIII Avenir.
</p>
</section>



</body>
<footer> 
<div class="footer"> 
    <div class="localisation"> 
    <p><span>Localisation 📍</span><br> 23  bd Simon Bolivar <br> 13015 Marseille</p>
    </div>

    <div class="contact"> 
    <p><span> Contact 📩 📞</span><br>
    Mail : contact@marseille-treize.com <br>
    Tel : 04 91 13 13 16 </p>
    </div>


    <div class="social-media"> 
    <p>Nos réseaux sociaux 📲</p> 
    <div class="social-icon">
        <a href="https://www.facebook.com/?locale=fr_FR"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/fr"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fa-brands fa-instagram"></i></a>
    </div>
    </div>
</div>
</footer>
</body>
</html>
