<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Marseille XIII - Fan Page</title>
<link rel="stylesheet" href="/Assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
    <img src="/Assets/images/logo1.png" alt="Logo Marseille XIII">
    <h1>Marseille XIII - Avenir 🏉 </h1>
    </div>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
    <i class="fa-solid fa-bars"></i>
    </label>

    <nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="histoire.html">Histoire</a></li>
        <li><a href="club.html">Le Club</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="contact.html" class="active">Contact</a></li>
    </ul>
    </nav>
</header>
<body> 








</body>
<footer> 
<div class="footer"> 
    <div class="localisation"> 
    <p><span>Localisation 📍</span><br> 23  bd Simon Bolivar <br> 13015 Marseille</p>
    </div>

    <div class="contact"> 
    <p><span> Contact 📩 📞</span><br>
    Mail : contact@marseille-treize.com <br>
    Tel : 04 91 13 13 16 </p>
    </div>


    <div class="social-media"> 
    <p>Nos réseaux sociaux 📲</p> 
    <div class="social-icon">
        <a href="https://www.facebook.com/?locale=fr_FR"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/fr"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fa-brands fa-instagram"></i></a>
    </div>
    </div>
</div>
</footer>
</body>
</html>
