<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Marseille XIII - Fan Page</title>
<link rel="stylesheet" href="/Assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
    <img src="/Assets/images/logo1.png" alt="Logo Marseille XIII">
    <h1>Marseille XIII - Avenir 🏉 </h1>
    </div>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
    <i class="fa-solid fa-bars"></i>
    </label>

    <nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="club.html">Le Club</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="contact.html" class="active">Contact</a></li>
    </ul>
    </nav>
</header>
<body> 

    <section class="formulaire"> 
    <Div class="infos-perso">
        <h2> Formulaire d'inscription </h2>
<form> 
    <label for="prénom"> Prénom </label>
    <input type="text" id="prénom" name="prenom" placeholder="Entrez votre prénom...">

    <label for="nom"> Nom </label>
    <input type="text" id="nom" name="nom" placeholder="Entrez votre nom...">

    <label for="email"> E-mail </label>
    <input type="e-mail" id="email" placeholder="Entrez votre adresse e-mail...">

    <label for="age"> Âge </label>
    <input type="number" id="âge" placeholder="Entrez votre âge...">

    <label for="date"> Date de naissance </label>
    <input type="date" id="date" placeholder="Entrez votre date de naissance...">

    <label for="genre"> Genre </label>
    <select id="genre" value=""> 
        <option value=""> Choissisez votre genre </option>
        <option value="femme">Femme</option>
        <option value="homme">Homme</option>
        <option value="Autre">Autre</option>
    </select>
</section>
    </form> 


<div class="logo2">
    <img src="/Assets/images/logo1.png" alt="Logo Marseille XIII">
    </div>



<form> 
<section class="formulaire2"> 
    </Div>
    <div class="profil"> 
    <h2> Profil </h2>

    <label for="age"> Taille </label>
    <input type="number" id="âge" placeholder="Entrez votre Taille...">


    <label for="text"> Ma description  </label>
    <textarea id="texte" placeholder="Décrit ta personnalité et tes motivations en quelques mots..."></textarea>

<input type="submit" name ="ok" value="Envoyer !">
</section>
</div>
</form> 
</Div>

<div class="logo3">
    <img src="/Assets/images/logo1.png" alt="Logo Marseille XIII">
    </div>

</body>
<footer> 
<div class="footer"> 
    <div class="localisation"> 
    <p><span>Localisation 📍</span><br> 23 Bd Simon Bolivar <br> 13015 Marseille</p>
    </div>

    <div class="contact"> 
    <p><span> Contact 📩 📞</span><br>
    Mail : contact@marseille-treize.com <br>
    Tel : 04 91 13 13 16 </p>
    </div>


    <div class="social-media"> 
    <p>Nos réseaux sociaux 📲</p> 
    <div class="social-icon">
        <a href="https://www.facebook.com/?locale=fr_FR"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/fr"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fa-brands fa-instagram"></i></a>
    </div>
    </div>
</div>
</footer>
</body>
</html>
