<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Marseille XIII - Fan Page</title>
<link rel="stylesheet" href="/Assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
    <img src="/Assets/images/logo1.png" alt="Logo Marseille XIII">
    <h1>Marseille XIII - Avenir 🏉 </h1>
    </div>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
    <i class="fa-solid fa-bars"></i>
    </label>

    <nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="club.html">Le Club</a></li>
        <li><a href="galerie.html" class="active">Galerie</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    </nav>
</header>
<body> 
<main> 
<section class="galerie">
    <img src="/Assets/images/photo1.jpg" alt="photo1">
    <img src="/Assets/images/photo2.jpg" alt="photo2">
    <img src="/Assets/images/photo3.jpg" alt="photo3">
    <img src="/Assets/images/photo4.jpg" alt="photo4">
    <img src="/Assets/images/photo5.jpg" alt="photo5">
    <img src="/Assets/images/photo6.jpg" alt="photo6">
    <img src="/Assets/images/photo7.jpg" alt="photo7">
    <img src="/Assets/images/photo8.jpg" alt="photo8">
    <img src="/Assets/images/photo9.jpg" alt="photo9">
    <img src="/Assets/images/photo10.jpg" alt="photo10">
    <img src="/Assets/images/photo11.jpg" alt="photo11">
    <img src="/Assets/images/photo12.jpg" alt="photo12">
    <img src="/Assets/images/photo13.jpg" alt="photo13">
    <img src="/Assets/images/team.jpg" alt="photo14">
    <img src="/Assets/images/news2.jpg" alt="photo15">
    <img src="/Assets/images/news1.jpg" alt="photo16">
</section>
</main>

</body>
<footer>
<div class="footer-container">
    
    <div class="footer-section about">
    <h3>À propos</h3>
    <p>Bienvenue sur le fan site de Marseille XIII ! Ici, partageons notre passion pour le club, ses joueurs et son histoire.</p>
    </div>

    <div class="footer-section contact">
    <h3>Contact</h3>
    <p>📍 23 bd Simon Bolivar, 13015 Marseille</p>
    <p>📧 contact@marseille-treize.com</p>
    <p>📞 04 91 13 13 16</p>
    </div>

    <div class="footer-section social">
    <h3>Suivez-nous</h3>
    <div class="social-icons">
        <a href="https://www.facebook.com/?locale=fr_FR" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/fr" class="tiktok"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.instagram.com/?hl=fr" class="instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
    </div>

</div>

<div class="footer-bottom">
    <p>Marseille Treize. Tous droits réservés. &copy; 2025 </p>
</div>
</footer>
</body>
</html>

